REPLICATE_API_TOKEN=
PINATA_API=
PINATA_API_SECRET=
PINATA_API_JWT=
AI_AGENT_ACTOR=youcontract
AI_AGENT_PERMISSION=active
AI_AGENT_SECRET=private_from_contract_account
XPR_ENDPOINT=https://testnet.rockerone.io
NEXT_PUBLIC_XPR_ENDPOINT=https://testnet.rockerone.io
NEXT_PUBLIC_XPR_AA_ENDPOINT=https://aa-xprnetwork-test.saltant.io/
NEXT_PUBLIC_XPR_CHAIN_ID=71ee83bcf52142d61019d95f9cc5427ba6a0d7ff8accd9e2088ae2abeaf3d3dd
NEXT_PUBLIC_REQUESTER_ACCOUNT=youcontract
NEXT_PUBLIC_DAPP_NAME=Your app cool name
NEXT_PUBLIC_COLLECTION_NAME=yourowncollectionname
NEXT_PUBLIC_IPFS_ENDPOINT=an_ipfs_url
NEXT_PUBLIC_BASE_URL=the_vercel_deployed_url
NEXT_PUBLIC_API_MODE=testnet_or_mainnet